.supportPicture{
    background-image:linear-gradient(to right, rgba(7, 7, 7, 0.767),rgba(10, 6, 1, 0.863)),
     url('https://i.ibb.co/Ssmhxtt/support-Picture.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
 }